@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap" rel="stylesheet');

:root {
    --pink: #F7A4A4;
}

* {
    font-family: 'Inter', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: none;
    transition: all .2s linear;
}

*::selection{
    background:var(--pink);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:rgb(77, 75, 75);
}

html::-webkit-scrollbar-thumb{
    background:var(--pink);
}

body {
    background:#F5F5DC;
    overflow-x: hidden;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c095eb;
    opacity: 0.98;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    border-style: solid;
    border-width: thin;
    border-color: #610ab8;


}
.logo {
    left: 1rem;
    top: 1rem;
    margin: 2rem;
    width: 5rem;
}

.logo img{
    width: 100%;
}

header .centerstage {
    align-items: center;
    text-align: center;
    margin: 1rem 3rem;

}
.title h1{
    font-family: 'Imperial Script';
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 200;
}

.subtitle h3{
    font-family: 'Kalam';
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background: var(--pink);
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

#myLinks {
    display: none;
  }

.navbar {
    
}

.navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
.navbar ul li{
    display: inline;
    text-align: center;
    align-items: center;
    padding:1rem;
    margin:1.5rem 0;
    background:rgb(51, 51, 51);
    border-radius: 1rem;
    text-align: center;
}

.navbar ul li:hover{
    background:var(--pink);
}

.navbar ul li a{
    color:#fff;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
}

.socialmedia a {
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    text-decoration: none;
}

.socialmedia a img{
    display: inline;
    text-align: center;
    text-decoration: none;
    width: 50%;
    padding: auto;
}

/* Hero Section Start*/

.hero{
    background-image: url(images/Lady-in-lake.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 100%;
    padding: 8rem 0;
}

.hero-head{
    font-size: 2rem;
    font-style: italic;
    width: 50%;
    padding: 6rem 4rem 0;
    color: rgb(30, 28, 28);
}

.hero-content{
    font-size: 2rem;
    padding: 4rem;
    box-sizing: content-box;
    width: 50%;
    color: grey;
}

.hero-botton{
    background-color:transparent;
    text-align: center;
    text-decoration: underline;
    color: rgb(85, 85, 81);
    padding: 12rem 0 10rem;
    font-size: xx-large;
}


/* Hero Section End*/

/* Home Section Start*/

.home {
    margin: 8rem 0 5rem;
}
/* Slide Show*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 80rem;
  position: relative;
  margin: auto;
}

.slideshow-container img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  }

/* Hide the images by default */
.Slides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #FFA6D0;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: var(--pink);
}

/* Caption text */
.text {
  color: #f2f2f2;
  text-shadow: 1px 1px var(--pink);
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #FFA6D0;
  font-size: 12px;
  font-weight: bold
  text-shadow: 1px 1px var(--pink);
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #FFA6D0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #EE378D;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Home Section End*/

/* Banner Start */
.banner {
    background-color: #FEBE8C;
    text-align: center;
    color: beige;
    padding: 12rem;
    font-size: xx-large;
}
.banner p {
    margin-top: 5rem;
    font-size: medium;
}
/* Banner End*/

/* About Section Start*/

.about {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFBC1;
}

.about-image {
    flex: none;
    order: 0;
    flex-grow: 0;
   
}

.about-image img{
    object-fit: cover;
    height: 75rem;
}

.about-description{
    width: 50rem;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about-description h1 {
    text-align: center;
    margin: 2rem 5rem 5rem 5rem;
    font-size:xx-large;
}

.about-description p {
    text-align: justify;
    font-size: medium;
    margin: 0rem 3rem 1rem 3rem;
}

.about-description p::first-letter{
    font-size: 3rem;
    font-weight: bolder;
    color: var(--pink);

}
/* About Section End*/

/* Portfolio Section Start*/

.portfolio{
    text-align: center;
    background-color: #3e0675;
}
.portfolio h1 {
    text-align: center;
    font-size:xx-large;
    padding: 5rem;
    color: white;
}

.portfolio-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem;
    background-color:#8951c2
}

 .portfolio-container img{
    margin: 1rem;
    /* border-style: solid;
    border-width: thin;
    object-fit: contain; */
    
}
/* Portfolio Section End*/

/* Contact Section Start*/
.contact {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.info{
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: justify;
    margin: 5rem;
    margin-bottom: 0;
}

.contact-title {
    font-size: xx-large;
    margin-bottom: 5rem;
}
.contact-social {
    display: inline-block;
    margin: 2rem;
    margin-top: 5rem;
    text-align: center;
}

.form-container{
    
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color:#EE378D;
    border-radius: 5rem;
    width: 100%;
    

}

form {
    padding:2rem;
    margin:0 10rem 4rem;
    
}

.box, .box-message {
    width: 100%;
    padding:1.5rem;
    margin:1rem 0;
    background:#FFA6D0;
    border: .1rem solid var(--pink);
    border-radius: 3rem;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    
}

form .box::placeholder{
    text-transform: capitalize;
}

form .message{
    height: 15rem;
    resize: none;
}

.btn{
    padding:.7rem 3rem;
    background:#FFA6D0;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    border: .1rem solid var(--pink);
    border-radius: 3rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--pink);
}

/* Contact Section End*/

/*Footer Start  */

footer {
    background-color: #B6E2A1;
    color: #f2f2f2;
    text-align: center;
    padding: 5rem;
}
footer .navbar li{
    margin: 0 3rem;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

/*Footer End  */

/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   .navbar, .socialmedia{
       display: none;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

   header {
    justify-content: flex-start;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

 @media (max-width:621px){
    
    header .navbar ul li a{
        font-size: 1rem;
        
    }

}

@media (max-width:500px){
    
    html {
        font-size: 40%;

    }

    .title h1{
        font-family: 'Imperial Script';
        text-align: center;
        font-size: 5rem;
    }

    .subtitle h3{
        font-family: 'Kalam';
        text-align: center;
        font-size: 2rem;
        font-weight: 300;
    }

    .navbar ul li a{
        color:#fff;
        font-size: 1rem;
        border-radius: 2rem;
    }

    .navbar ul li{
        display: inline;
        text-align: center;
        align-items: center;
        padding:0.5rem;
        margin:1rem 0;
        background:rgb(51, 51, 51);
        border-radius: 2rem;
        text-align: center;
    }
}
